<h1>Вход</h1>

<%= form_with url: login_path, local: true do |form| %>
  <%= flash_messages %>

  <div>
    <%= form.label :email, 'Введите почту:' %><br>
    <%= form.text_field :email, id: :email, size: 60 %>
  </div><br>

   <div>
    <%= form.label :password, 'Введите пароль:' %><br>
    <%= form.password_field :password, id: :password, size: 60 %>
  </div><br>

  <div>
    <%= form.submit 'Войти' %>
  </div><br>
<% end %>

<%= link_to 'На главную', root_path %>
