<div class="row justify-content-center">
  <div class="col col-lg-4 col-md-5 col-sm-6 ms-2">
    <div class="h2 mt-2 mb-3"><%= t('.sign_up') %></div>

    <div class="card border-primary mb-2", style="width: 360px;">
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="mb-1 account_settings_form">
            <p>
              <%= f.label :first_name %>
              <%= f.text_field :first_name, autofocus: true, class: "form-control", placeholder: t('devise.placeholders.first_name')  %>
            </p>

            <p>
              <%= f.label :last_name %>
              <%= f.text_field :last_name, autofocus: true, class: "form-control", placeholder: t('devise.placeholders.last_name') %>
            </p>

            <p>
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: t('devise.placeholders.email') %>
            </p>

            <p>
              <%= f.label :password %>
              <% if @minimum_password_length %>
                <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
              <% end %>
              <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: t('devise.placeholders.password') %>
            </p>

            <p>
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: t('devise.placeholders.password_confirmation') %>
            </p>

            <div>
              <%= f.submit t('.sign_up'), class: "btn btn-primary mt-1" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <%= render "devise/shared/links" %>
  </div>
</div>
