<div class="row justify-content-center">
  <div class="col col-lg-8 col-md-10 ms-1">
    <div class="h1 mt-2 mb-4"><%= t('.header', question_body: @answer.question.body) %></div>

    <div>
      <p>
        <b><%= @answer.body %></b> -
        <%= @answer.correct ? t('.answer_correct') : t('.answer_not_correct') %>
      </p>
    </div>

    <table class="mt-2">
      <tr>
        <td><%= link_to t('back'), admin_question_path(@answer.question), class: "link-secondary" %></td>
        <td></td><td>|</td><td></td>
        <td><%= link_to t('edit'), edit_admin_answer_path(@answer), class: "link-success" %></td>
        <td></td><td>|</td><td></td>
        <td><%= delete_answer(@answer) %></td>
      </tr>
    </table>
  </div>
</div>
