<h1>Ответ на вопрос "<%= @answer.question.body %>"</h1>
<div><strong><%= @answer.body %></strong></div><br>

<div>
  <%= @answer.correct ? 'Ответ корректный' : 'Ответ некорректный' %>
</div><br>

<div>
  | <%= link_to 'Назад', admin_question_path(@answer.question) %>
  | <%= link_to 'Редактировать', edit_admin_answer_path(@answer) %>
  | <%= delete_answer(@answer) %> |
</div>
	