<% if @question.answers.size > 0 %>
<div>
  <strong><%= t('.table_title', question_body: @question.body) %></strong><br>
  <table>
    <tr>
      <th><b><%= t('.answer') %></b></th>
      <th><b><%= t('.correct') %></b></th>
      <th colspan='2'><b><%= t('.actions') %></b></th>
    </tr>

    <%= render @question.answers %>
  </table>
</div><br>
<% end %>
