<h1><%= t('.header', test_title: @question.test.title) %></h1>
<div><strong><%= @question.body %></strong></div><br>

<%= render 'question_answers' %>

<div>
  <%= link_to t('.create_answer'), new_admin_question_answer_path(@question) %>
</div><br>

<div>
  | <%= link_to t('back'), admin_test_path(@question.test) %>
  | <%= link_to t('edit'), edit_admin_question_path(@question) %>
  | <%= delete_question(@question) %> |
</div>
