<h1><%= t('.header') %></h1>
<div>
  <p><%= t('.description') %></p>
</div>
<div>
  <p>
    <%= t('.from') %>: <i><%= @from %></i>
  </p>
</div>
<div>
  <p>
    <%= t('.subject') %>: <b><%= @subject %></b>
  </p>
</div>
<div>
  <p>
    <%= t('.body') %>: <br><%= @body %></br>
  </p>
</div>
