<div class="row justify-content-center">
  <div class="col col-lg-4 col-md-5 col-sm-6 ms-2">
    <div class="h2 mt-2 mb-3"><%= t('.sign_in') %></div>

    <div class="card border-primary mb-2", style="width: 360px;">
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="mb-1">
            <p>
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: t('devise.placeholders.email') %>
            </p>

            <p>
              <%= f.label :password %>
              <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: t('devise.placeholders.password') %>
            </p>

            <% if devise_mapping.rememberable? %>
              <div class="form-check">
                <%= f.check_box :remember_me, class: 'form-check-input' %>
                <%= f.label :remember_me, class: 'form-check-label' %>
              </div>
            <% end %>

            <div>
              <%= f.submit t('.sign_in'), class: "btn btn-primary mt-1" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <%= render "devise/shared/links" %>
  </div>
</div>
