<div class="row justify-content-center">
  <div class="col col-lg-4 col-md-5 col-sm-6 ms-2">
    <div class="h2 mt-2 mb-3"><%= t('.feedback') %></div>

    <div class="card border-primary mb-2", style="width: 360px;">
      <div class="card-body">
        <%= form_with url: feedback_path , local: true do |form| %>
          <div class="mb-1">
            <p>
              <%= form.label t('.from'), class: "form-label", style: "max-width: 150px" %>
              <%= form.text_field :from, class: "form-control align-self-center", value: @previous_feedback_params[:from], placeholder: t('devise.placeholders.email') %>
            </p>

            <p>
              <%= form.label t('.subject'), class: "form-label", style: "max-width: 150px" %>
              <%= form.text_field :subject, class: "form-control align-self-center", value: @previous_feedback_params[:subject] %>
            </p>

            <p>
              <%= form.label t('.body'), class: "form-label", style: "max-width: 150px" %>
              <%= form.text_area :body, class: "form-control align-self-center", value: @previous_feedback_params[:body], size: "1x5"%>
            </p>

            <div>
              <%= form.submit t('.submit'), class: "btn btn-success" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="ms-1"><%= link_to t('back'), root_path, class: "link-secondary" %></div>
  </div>
</div>
