<%= form_with model: [:admin, @test], local: true do |form| %>
  <%= render 'shared/errors', resource: @test %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title, id: :test_title, size: 60 %>
  </div><br>

  <div>
    <%= form.label :level %>
    <%= form.text_field :level, id: :test_level, size: 6 %>
  </div><br>

  <div>
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, Category.all, :id, :title, prompt: true, size: 60 %>
  </div><br>

  <div>
    <%= form.submit %>
  </div><br>
<% end %>
