<tr>
  <td><em><%= test.title %></em></td>
  <td><%= test_level(test) %></td>
  <td><%= test.category.title %></td>
  <td><%= test.questions.size %></td>
  <td><%= test.creator.full_name %></td>
  <td><%= link_to t('open'), admin_test_path(test), class: "link-secondary" %></td>
  <td><%= link_to t('edit'), edit_admin_test_path(test), class: "link-success" %></td>
  <td><%= delete_test(test) %></td>
</tr>
