<div class="row justify-content-center">
  <div class="col col-lg-9 ms-1">
    <div class="h1 mt-2 mb-3"><%= t('.header') %></div>

    <%= render 'shared/errors', resource: @test %>

    <table class="table table-hover text-wrap align-middle">
      <tr>
        <th scope="col", class="sort-by-title pointer">
          <%= t('.title') %>
          <%= octicon 'sort-asc', class: "text-secondary d-none" %>
          <%= octicon 'sort-desc', class: "text-secondary d-none" %>
        </th>
        <th scope="col"><%= t('.level') %></th>
        <th scope="col"><%= t('.category') %></th>
        <th scope="col", style="max-width: 96px;"><%= t('.questions_count') %></th>
        <th scope="col"><%= t('.timer') %></th>
        <th scope="col"><%= t('.author') %></th>
        <th scope="col", colspan='3'><%= t('.actions') %></th>
      </tr>

      <%= render @tests %>
    </table>

    <div class="ms-2 fw-bold">
      <%= link_to t('.create_test'), new_admin_test_path, class: "fs-5 link-primary" %>
    </div>
  </div>
</div>
