<h1><%= @test.title %></h1>

<div><%= t('.level_html', level: test_level(@test)) %></div><br>

<div><%= t('.category_html', category: @test.category.title) %></div><br>

<div><%= t('.author_html', author: @test.creator.full_name) %></div><br>

<%= render 'test_questions' %>

<div>
  <%= link_to t('.create_question'), new_admin_test_question_path(@test) %>
</div><br>

<div>
  | <%= link_to t('back'), admin_tests_path %>
  | <%= link_to t('edit'), edit_admin_test_path(@test) %>
  | <%= delete_test(@test) %> |
</div>
