<div class="row justify-content-center">
  <div class="col col-lg-8 col-md-10 ms-1">
    <div class="h1 mt-2 mb-4"><%= @test.title %></div>

    <div>
      <p><%= t('.level_html', level: test_level(@test)) %></p>
      <p><%= t('.category_html', category: @test.category.title) %></p>
      <p><%= t('.timer_html', timer: @test.timer) if @test.timer > 0 %></p>
      <p><%= t('.author_html', author: @test.creator.full_name) %></p>
    </div>

    <%= render 'test_questions' %>

    <div class="ms-2 fw-bold">
      <%= link_to t('.create_question'), new_admin_test_question_path(@test), class: "fs-5 link-primary" %>
    </div>

    <table class="mt-2">
      <tr>
        <td><%= link_to t('back'), admin_tests_path, class: "link-secondary" %></td>
        <td></td><td>|</td><td></td>
        <td><%= link_to t('edit'), edit_admin_test_path(@test), class: "link-success" %></td>
        <td></td><td>|</td><td></td>
        <td><%= delete_test(@test) %></td>
        <td></td><td>|</td><td></td>
        <td><%= publish_test(@test) unless @test.published %></td>
      </tr>
    </table>
  </div>
</div>