<h1><%= test_header(@test) %></h1>

<%= form_with model: @test, local: true do |form| %>
  <%= render 'shared/errors', resource: @test %>

  <div>
    <%= form.label :title, 'Название теста:' %>
    <%= form.text_field :title, id: :test_title, size: 60 %>
  </div><br>

  <div>
    <%= form.label :level, 'Уровень теста:' %>
    <%= form.text_field :level, id: :test_level, size: 60 %>
  </div><br>

  <div>
    <%= form.label :category_id, 'Название теста:' %>
    <%= form.collection_select :category_id, Category.all, :id, :title, prompt: 'Выберите категорию', size: 60 %>
  </div><br>

  <div>
    <%= form.submit test_saver_text(@test) %>
  </div>
<% end %>

<%= link_to 'Назад', tests_path %>
