<div class="row justify-content-center">
  <div class="col col-lg-8 ms-1">
    <div class="h1 mt-2 mb-3"><%= t('.header') %></div>

    <table class="table table-hover text-wrap align-middle">
      <tr>
        <th scope="col"><%= t('.title') %></th>
        <th scope="col"><%= t('.level') %></th>
        <th scope="col"><%= t('.category') %></th>
        <th scope="col", style="max-width: 96px;"><%= t('.questions_count') %></th>
        <th scope="col"><%= t('.author') %></th>
        <th scope="col", colspan='3'><%= t('.actions') %></th>
      </tr>

      <%= render @tests %>
    </table>
  </div>
</div>
