<h1><%= @test.title %></h1>

<div><b>Уровень:</b>
  <%= test_level(@test) %>
</div><br>

<div><b>Категория:</b>
  <%= @test.category.title %>
</div><br>

<div><b>Автор:</b>
  <td><%= @test.creator.first_name %> <%= @test.creator.last_name %></td>
</div><br>

<table>
  <tr>
    <td>| <%= link_to 'Назад', tests_path %> |</td>
    <td><%= button_to 'Начать', start_test_path(@test) %></td>
  </tr>
</table>
