<h1><%= @test.title %></h1>

<div><%= t('.level_html', level: test_level(@test)) %></div><br>

<div><%= t('.category_html', category: @test.category.title) %></div><br>

<div><%= t('.author_html', author: @test.creator.full_name) %></div><br>

<table>
  <tr>
    <td>| <%= link_to t('back'), tests_path %> |</td>
    <td><%= button_to t('start'), start_test_path(@test) %></td>
  </tr>
</table>
